Create database [PRN212]
go
USE [PRN212]
GO
/****** Object:  Table [dbo].[ExamHistory]    Script Date: 7/16/2024 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamHistory](
	[User_id] [int] NULL,
	[Score] [float] NULL,
	[ExamTime] [datetime] NULL,
	[ExamHistory_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ExamHistory] PRIMARY KEY CLUSTERED 
(
	[ExamHistory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListQuestion]    Script Date: 7/16/2024 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListQuestion](
	[Question_Id] [int] NOT NULL,
	[Your_Anser] [int] NULL,
	[ExamHistory_Id] [int] NOT NULL,
	[ListQuestion_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ListQuestion] PRIMARY KEY CLUSTERED 
(
	[ListQuestion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/16/2024 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Question_Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NULL,
	[Answer1] [nvarchar](max) NULL,
	[Answer2] [nvarchar](max) NULL,
	[Answer3] [nvarchar](max) NULL,
	[Answer4] [nvarchar](max) NULL,
	[CorrectAnswer] [int] NULL,
	[ImgQuestion] [nvarchar](max) NULL,
	[License_Id] [int] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Question_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/16/2024 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfLicense]    Script Date: 7/16/2024 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfLicense](
	[License_Id] [int] IDENTITY(1,1) NOT NULL,
	[License_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeOfLicense] PRIMARY KEY CLUSTERED 
(
	[License_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/16/2024 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_name] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Role_Id] [int] NULL,
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExamHistory] ON 

INSERT [dbo].[ExamHistory] ([User_id], [Score], [ExamTime], [ExamHistory_Id]) VALUES (5, 0.4, CAST(N'2024-07-03T14:15:12.593' AS DateTime), 5)
INSERT [dbo].[ExamHistory] ([User_id], [Score], [ExamTime], [ExamHistory_Id]) VALUES (5, 0, CAST(N'2024-07-03T21:20:10.003' AS DateTime), 6)
INSERT [dbo].[ExamHistory] ([User_id], [Score], [ExamTime], [ExamHistory_Id]) VALUES (5, 3.5999999999999996, CAST(N'2024-07-03T21:21:41.703' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[ExamHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ListQuestion] ON 

INSERT [dbo].[ListQuestion] ([Question_Id], [Your_Anser], [ExamHistory_Id], [ListQuestion_Id]) VALUES (36, NULL, 5, 2)
INSERT [dbo].[ListQuestion] ([Question_Id], [Your_Anser], [ExamHistory_Id], [ListQuestion_Id]) VALUES (22, NULL, 5, 3)
INSERT [dbo].[ListQuestion] ([Question_Id], [Your_Anser], [ExamHistory_Id], [ListQuestion_Id]) VALUES (41, NULL, 5, 4)
GO
SET IDENTITY_INSERT [dbo].[ListQuestion] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([Question_Id], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [ImgQuestion], [License_Id]) VALUES (3, N'Phần của đường bộ được sử dụng cho các phương tiện giao thông qua lại là gì ?', N'Phần mặt đường và lề đường.', N'Phần đường xe chạy.', N'Phần đường xe cơ giới.', NULL, 2, NULL, 1)
INSERT [dbo].[Question] ([Question_Id], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [ImgQuestion], [License_Id]) VALUES (5, N'Trong các khái niệm dưới đây, “dải phân cách” được hiểu như thế nào là đúng ?', N'Là bộ phận của đường để ngăn cách không cho các loại xe vào những nơi không được phép.', N'Là bộ phận của đường để phân tách phần đường xe chạy và hành lang an toàn giao thông.', N'Là bộ phận của đường để phân chia mặt đường thành hai chiều xe chạy riêng biệt hoặc để phân chia phần đường của xe cơ giới và xe thô sơ.', NULL, 3, NULL, 1)
INSERT [dbo].[Question] ([Question_Id], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [ImgQuestion], [License_Id]) VALUES (6, N'“Dải phân cách” trên đường bộ gồm những loại nào ?', N'Dải phân cách gồm loại cố định và loại di động.', N'Dải phân cách gồm tường chống ồn, hộ lan cứng và hộ lan mềm. ', N'Dải phân cách gồm giá long môn và biển báo hiệu đường bộ.', NULL, 1, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_Id], [Role_Name]) VALUES (1, N'Customer')
INSERT [dbo].[Role] ([Role_Id], [Role_Name]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfLicense] ON 

INSERT [dbo].[TypeOfLicense] ([License_Id], [License_name]) VALUES (1, N'Bằng Xe Máy')
INSERT [dbo].[TypeOfLicense] ([License_Id], [License_name]) VALUES (3, N'Bằng Ô tô')
SET IDENTITY_INSERT [dbo].[TypeOfLicense] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_name], [Password], [Role_Id], [User_Id]) VALUES (N'anhnvhe171196', N'123456', 2, 1)
INSERT [dbo].[User] ([User_name], [Password], [Role_Id], [User_Id]) VALUES (N'hezz2811033', N'qa567890', 1, 2)
INSERT [dbo].[User] ([User_name], [Password], [Role_Id], [User_Id]) VALUES (N'sadsadsa', N'asdsadadas', 1, 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[ExamHistory]  WITH CHECK ADD  CONSTRAINT [FK_ExamHistory_User1] FOREIGN KEY([User_id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[ExamHistory] CHECK CONSTRAINT [FK_ExamHistory_User1]
GO
ALTER TABLE [dbo].[ListQuestion]  WITH CHECK ADD  CONSTRAINT [FK_ListQuestion_ExamHistory] FOREIGN KEY([ExamHistory_Id])
REFERENCES [dbo].[ExamHistory] ([ExamHistory_Id])
GO
ALTER TABLE [dbo].[ListQuestion] CHECK CONSTRAINT [FK_ListQuestion_ExamHistory]
GO
ALTER TABLE [dbo].[ListQuestion]  WITH CHECK ADD  CONSTRAINT [FK_ListQuestion_Question] FOREIGN KEY([Question_Id])
REFERENCES [dbo].[Question] ([Question_Id])
GO
ALTER TABLE [dbo].[ListQuestion] CHECK CONSTRAINT [FK_ListQuestion_Question]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_TypeOfLicense] FOREIGN KEY([License_Id])
REFERENCES [dbo].[TypeOfLicense] ([License_Id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_TypeOfLicense]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Role_Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
